@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --green-50: #e6fff0;
  --green-100: #d7f7e6;
  --green-500: #10b981;
  --green-700: #065f46;
  --green-800: #064e3b;
}

body{
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}
